<h1>Blog Andando Na Luz</h1>

<ul>
{% for post in object_list %}
    <li>
        <div>
            <a href="{%url 'category' post.category %}"">-{{post.category}}<a/> 
            <div>
                <img src="{{post.thumbnail.url}}" height="100" width="100">
            </div>
            <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> <br>
            <small>{{ post.author.first_name }} - {{post.author.last_name }} - {{ post.author.email}}</small>
            <iframe srcdoc="{{ post.summary }}" ></iframe>
        </div>
        
    <br/>
{% endfor %}
</ul>

